html {
  font-size: 14px;
}

body {
	background: #F2F2F2;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.home-header {
  max-width: 700px;
}

#voltarBtn {
	margin: 5px;
}

#novoBtn {
	margin: 5px;
}

#cancelarBtn {
	margin: 5px;
}

#salvarBtn {
	margin: 5px;
}
		
#homeBtn {
	background: #4A738C;
	color: #FFF;
	width: 150px;
	height: 100px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
.btn {
	background: #4A738C;
	color: #FFF;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.bgHome {
	background: #F2F2F2;
	width: 75%;
	height: 100%;
	margin: 0 auto 0 auto;
}